/* SeudoSelectore */
:root{
    --blanco: #ffffff;
    --negro: #141414;
    --primario: #041840;
    --secundario: #F2075D;
    --terciario: #1C2840;
    --cuarto: #05DBF2;
    --quinto: #BF9663;
}
/* La etiqueta html y body con esas propiedades hace que el valor de rem sea el siguiente 10px = 1rem*/
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.titulo {
    text-align: center; 
    font-size: 3rem;   
    color: var(--primario);    
    font-family: 'Yusei Magic', sans-serif;   
    margin: 0.5rem auto 0.5rem auto;         
}

/* 
Este estilo se se realiza en todos los span del codigo html
span {
    #Codigo
}

Este estilo se realiza unicamente a los span que estan dentro de una etiqueta <h1><|h1>
h1 span {
    #Codigo
}
*/

.contenedor{
    max-width: 120rem;
    margin: 0rem auto;
    
}
.nav-bg{
    background-color: var(--primario);    
}
.nav-principal{    
    display: flex;
    justify-content:space-around;
}

.nav-principal a {    
    color: var(--blanco);   
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none; 
    padding: 1rem 5rem;
}

.nav-principal a:hover {        
    color: var(--primario);    
    background-color: var(--cuarto);            
}

@media ( max-width:700px ) {

    .nav-principal{     
        margin: 0rem;
        display: grid;                  
        flex-direction: column;
        align-items: center;
        text-align: center;        
    }  
    .nav-principal a {            
        padding: 1rem 10rem;
    }    
}

.hero {
    background-image: url(../image/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
    height: 45rem; 
    padding: 2rem;
    position: relative;
}
.contenido-hero{
    position: absolute;
    background-color: #05DBF2;
    width: 5rem;
    height: 5rem;
}

