/* SeudoSelectore */
:root{
    --blanco: #ffffff;
    --negro: #141414;
    --primario: #041840;
    --secundario: #F2075D;
    --terciario: rgb(17, 18, 19);
    --cuarto: #05DBF2;
    --quinto: #BF9663;
}
/* La etiqueta html y body con esas propiedades hace que el valor de rem sea el siguiente 10px = 1rem*/
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    /*background-image: linear-gradient(to top, var(--terciario) 0%, var(--primario) 100%);
    background-color: var(--primario);*/
}
header{
    background-color: var(--blanco);
}

.sombra {
    -webkit-box-shadow: 5px 5px 0px 0px rgb(5, 219, 242);
    -moz-box-shadow: 5px 5px 0px 0px rgb(5, 219, 242);
    box-shadow: 5px 5px 0px 0px rgb(5, 219, 242);
}

.sombra:hover {
    -webkit-box-shadow: 5px 5px 0px 0px var(--secundario);
    -moz-box-shadow: 5px 5px 0px 0px var(--secundario);
    box-shadow: 5px 5px 0px 0px var(--secundario);
}
/*Titulo de Top*/
.titulo {
    /*background-color: var(--blanco);*/
    text-align: center;  
    font-size: 3rem;              
    font-family: 'Yusei Magic', sans-serif;   
    margin: 0.5rem auto 0.5rem auto;      
    /*margin: 0;   */
}

/* 
Este estilo se se realiza en todos los span del codigo html
span {
    #Codigo
}

Este estilo se realiza unicamente a los span que estan dentro de una etiqueta <h1><|h1> 
h1 span {
    #Codigo
}
*/

.contenedor{
    max-width: 120rem;
    margin: 0rem auto;
    
}
.nav-bg{
    background-color: var(--primario);    
}
.nav-principal{    
    display: flex;
    justify-content:space-around;
}

.nav-principal a {    
    color: var(--blanco);   
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none; 
    padding: 1rem 5rem;
}

.nav-principal a:hover {        
    color: var(--primario);    
    background-color: var(--cuarto);            
}

/*-----Contenido Hero para la web------*/
.hero {
    background-image: url(../image/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
    height: 45rem; 
    position: relative;
    
}
.contenido-hero{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.76);
    width: 100%;
    height: 100%;
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;       
}
.contenido-hero h2, p {
    color: var(--blanco);    
}
.contenido-hero h2{
    font-size: 3.5rem;    
    margin: 1rem;
}
.contenido-hero p {  
    margin: 1rem;  
    font-size: 1.6rem;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}
.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    margin: 1rem;
    padding: 1rem 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0.5rem;    
}
.boton:hover{
    background-color: var(--cuarto);
    color: var(--primario);
}
/*--------------------------------------------*/

/*-----Color para todos los contenidos------*/
.color-contenido{    
    /*background-image: linear-gradient(to top, var(--terciario) 0%, var(--primario) 100%);*/
    background-color: var(--primario);
    margin: 3rem 7%;    
    border-radius: 1rem;
    border-color: var(--quinto);
    padding: 2rem;        
}
/*--------------------------------------------*/

/*-----Contenedor de Servicios------*/
/*.servicios{
    background-color: var(--primario);
    margin: 2rem 10rem;    
    border-radius: 1rem;
    border-color: var(--quinto);
    padding: 2rem;    
}*/
.titulo-servicios{
    margin: 4rem;
    text-align: center;
    color: var(--quinto);
    font-weight: 700;
}
.contenido-servicios {
    display: flex;   
}
.contenido-servicios section{
    margin: 1rem;    
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: var(--secundario); 
    text-align: center; 
    font-weight: 300;  
}

.contenido-servicios section h3{
    color: var(--blanco);
}

.contenido-servicios section:hover{
    margin: 1rem;    
    border-radius: 1rem;
    background-color: var(--cuarto);
}

.contenido-servicios section:hover h3{
    color: var(--primario);
}

.contenido-servicios section:hover p{
    color: var(--primario);
}
/*--------------------------------------------*/

/*-----Formulario------*/

.formulario{
    text-align: center;
    margin: 3rem;
    color: var(--blanco);
}

fieldset{
    border-radius: 1rem;    
}

legend{
    padding: 3rem;
}

.opcion{
    padding: 0.5rem;
}
/*---------------------*/

/*-----Footer------*/
.footer{
    text-align: center;
    margin: 3rem;
}
/*------------------*/

/*-----Codigo para dispositivos responsives------*/

@media ( max-width:700px ) {

    .nav-principal{     
        margin: 0rem;
        display: grid;                  
        flex-direction: column;
        align-items: center;
        text-align: center;        
    }  
    .nav-principal a {            
        padding: 1rem 10rem;
    }    
}

/*--------------------------------------------*/
