/* SeudoSelectore */
:root{
    --blanco: #ffffff;
    --negro: #141414;
    --primario: #041840;
    --secundario: #F2075D;
    --terciario: #1C2840;
    --cuarto: #05DBF2;
    --quinto: #BF9663;
}
/* La etiqueta html y body con esas propiedades hace que el valor de rem sea el siguiente 10px = 1rem*/
html{
    font-size: 62.5%;
}

body{
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.titulo {
    text-align: center; 
    font-size: 3rem;   
    color: var(--primario);    
    font-family: 'Yusei Magic', sans-serif;   
    margin: 0.5rem auto 0.5rem auto;         
}

/* 
Este estilo se se realiza en todos los span del codigo html
span {
    #Codigo
}

Este estilo se realiza unicamente a los span que estan dentro de una etiqueta <h1><|h1>
h1 span {
    #Codigo
}
*/

.contenedor{
    width: 120rem;
    margin: 0rem auto;
    padding: 0.5rem 0rem 0.5rem 0rem;  
    
}
.nav-bg{
    background-color: var(--primario);    
}
.nav-principal{
    
}
.nav-principal a {
    color: var(--blanco);   
    padding: 0rem 10rem; 
    font-weight: 600;
    text-decoration: none;
}
.nav-principal a:hover {    
    color: var(--primario);    
    background-color: var(--cuarto);    
    border-color: var(--secundario);
    
}
