:root{
    --white: #ffffff;
    --dark: #262626;
    --primary: #004A43;
    --secondary: #58D1BD;
    --tertiary: #FFAD3D;
    --quaternary: #7D77FC; 
    --aditional-1: #f1f6f6;
    --aditional-2: #65b7d5;
    --aditional-3: #e979b4;

    /*Fuente Principal*/
    --fontPrimary: 'Open Sans', sans-serif; 
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/*----- Start Globales -------*/
body {
    background-color: var(--primary);
    font-size: 1.6rem;
    line-height: 1.5;    
}

p {
    font-size: 1.8rem;
    font-family: var(--fontPrimary);
    color: var(--white);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3{
    text-align: center;
    color: var(--quaternary);
}

h1{font-size: 4rem;}
h2{font-size: 3.2rem;}
h3{font-size: 2.4rem;}

/*----- End Globales -------*/

/*----- Start Logotipo ------*/

.logo {
    display: flex;
    justify-content: center;
}

/*----- End Logotipo ------*/

/*----- Start Logotipo ------*/
/*----- End Logotipo ------*/


  
